{% extends 'base.template.html' %}
{%load static %}

{%block title%}
Subscription Plans Home Page
{%endblock%}

{%block content%}
<div class="alert-primary mt-5 pl-3 page-header">
  <h6> Choose New Subscription Plan</h6>
</div>


<div class="ml-3 mb-5">
<form method="GET">
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="inputPlan"></label>
      <select id="inputPlan" name="query" class="form-control">
        <!--<option value="">Choose one of below plans...</option>-->
        <option value="biodata & crm solution plan">Biodata & CRM Solution Plan(Save &gt; 21%)</option>
        <option value="biodata plan">Biodata Plan Only</option>
        <option value="crm solution plan">CRM Solution Plan Only</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="inputPeriod"></label>
      <select id="inputPeriod" name="period" class="form-control">
        <option value="3" selected>3 months</option>
        <option value="6">6 months (Save 5%)</option>
        <option value="12">12 months (Save 10%)</option>
      </select>
    </div>
  </div>
</form>
</div>

<div class="row row-cols-1">
<div class="col-12">
<div class="card-deck mt-3">

{% for plan in plans%}
  <div class="card card-custom-{{plan.color_scheme}}">
    <div class="card-body">
    <div class="card-custom-header">
      <h5 class="card-title">{{plan.plan_type|upper}}</h5>
      <h5 class="card-title ct-overflow">{{plan.name}}</h5>
      <p>{{plan.subscription_period}} Months Plan</p>
    </div>
    {%if plan.plan_type.name == "Standard" %}
    <div class="popular-box">
    <p class="mt-1 mb-1">Most Popular Plan</p>
    </div>
    {%else%}
      <hr class="divider-1">
    {% endif %}
      <div class="d-flex justify-content-center">
      <h4 class="mt-3">S${{plan.price|floatformat:0}}/mo</h4>
      </div>
      <div class="mt-5 package-content">
      {%if 'Biodata' in plan.name.name %}
      <p class="card-text">{{plan.no_of_biodata}} Biodata Plan</p>
      {% endif %}

      {% if plan.name.name == "CRM Solution Plan" %}
      <p class="card-text">Sales Summary</p>
      <p class="card-text">Status Summary</p>
      {% endif %}

      {%if 'CRM' in plan.name.name %}
      <p class="card-text e-doc">{{plan.no_of_emp_e_doc}} Employer E-Document</p>
      {% endif %}
      <p class="card-text sub-acc">{{plan.no_of_subaccount}} Sub Account User</p>
      {%if 'Biodata' in plan.name.name %}
      <p class="card-text">{{plan.no_of_subdomain_website}} Sub Domain Website</p>
      {% endif %}

    {% if plan.no_sales_enquiries and plan.no_sales_enquiries.strip %}
      <p class="card-text">{{plan.no_sales_enquiries}} Sales Enquiries</p>
    {% endif %}

      </div>
    </div>  <!--end card body-->
    <div class="card-footer d-flex justify-content-center py-4">
      <button class="btn btn-{{plan.color_scheme}}" type="submit">Subscribe</button>
    </div>
  </div>
{% endfor %}
</div>
</div>
</div>
<p class="mt-3"> **Your newly purchased plan will only take effect after your current subscription expires. </p>
{%endblock%}



{%block js%}
<script src="{% static '/js/main.js' %}"></script>
{% endblock %}