{% extends 'base.template.html' %}
{%load static %}

{%block title%}
Subscription Plans Home Page
{%endblock%}

{%block content%}
<div class="alert-primary mt-5 pl-3 page-header">
  <h6> Choose New Subscription Plan</h6>
</div>


<div class="ml-3 mb-5">
<form method="GET">
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="inputPlan"></label>
      <select id="inputPlan" name="query" class="form-control">
        <!--<option value="">Choose one of below plans...</option>-->
        <option value="biodata-crm-solution">Biodata & CRM Solution Plan(Save &gt; 21%)</option>
        <option value="biodata-only">Biodata Plan Only</option>
        <option value="crm-only">CRM Solution Plan Only</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="inputPeriod"></label>
      <select id="inputPeriod" name="period" class="form-control">
        <option value="3" selected>3 months</option>
        <option value="6">6 months</option>
        <option value="12">12 months</option>
      </select>
    </div>
  </div>
</form>
</div>

<div class="row">
<div class="card-deck mt-5">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>
{%endblock%}

{%block js%}
<script src="{% static '/js/main.js' %}"></script>
{% endblock %}