{% extends 'base.template.html' %}
{%load static %}

{%block title%}
Subscription Plans Home Page
{%endblock%}

{%block content%}
<div class="alert-primary mt-3 pl-3 page-header">
  <h5> Choose New Subscription Plan</h5>
</div>


<div class="empty">
<form method="GET">
    <div class="form-group">
      <label for="inputPlan"></label>
      <select id="inputPlan" name="query" class="form-control" onchange="changePlan()">   
        <!--<option value="">Choose one of below plans...</option>-->
        <option value="biodata & crm solution plan">Biodata & CRM Solution Plan(Save &gt; 21%)</option>
        <option value="biodata plan">Biodata Plan Only</option>
        <option value="crm solution plan">CRM Solution Plan Only</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputPeriod"></label>
      <select id="inputPeriod" name="period" class="form-control" onchange="changePlan()">  
        <option value="3" selected>3 months</option>
        <option value="6">6 months (Save 5%)</option>
        <option value="12">12 months (Save 10%)</option>
      </select>
    </div>
</form>
</div>

<!--start card deck-->
<div class="card-deck">
    
    
    <div class="card-header-0">
      <h5 class="plan-type-0"><strong>BASIC</strong></h5>
      <h6 class="plan-name-0"><strong>Biodata &amp; CRM Solution Plan</strong></h6>
      <p class="plan-period-0">3 Months Plan 
      <span class="save-percent-0">(Save 21%)</span>
      </p>
    </div>

    <div class="divider-0">
      <hr class="divide-line">
    </div>
    
      <div class="price-box-0">
      <h4 class="price-0">S$220/mo</h4>
      </div>
      <div class="package-content-0">
      <p class="card-text bio-plan-0">100 Biodata Plan</p>
      <p class="sales-sum-0"></p>
      <p class="status-sum-0"></p>
      <p class="card-text e-doc-0">100 Employer E-Document</p>
      <p class="card-text sub-acc-0">10 Sub Account User</p>
      <p class="card-text sub-dom-0">1 Sub Domain Website</p>
      <p class="card-text sales-enq-0"></p>
      </div>
      
    <div class="card-footer-0">
      <button class="btn btn-yellow" type="submit">Subscribe</button>
    </div>
  

    
    <div class="card-header-1">
      <h5 class="plan-type-1"><strong>STANDARD</strong></h5>
      <h6 class="plan-name-1"><strong>Biodata &amp; CRM Solution Plan</strong></h6>
      <p class="plan-period-1">3 Months Plan 
      <span class="save-percent-1">(Save 22%)</span>
      </p>
      
    </div>
    
    <div class=" divider-1 popular-box">
    <p>Most Popular Plan</p>
    </div>
    
      <div class="price-box-1">
      <h4 class="price-1">S$280/mo</h4>
      </div>
    
      <div class="package-content-1">  
      <p class="card-text bio-plan-1">200 Biodata Plan</p>
      <p class="sales-sum-1"></p>
      <p class="status-sum-1"></p>
      <p class="card-text e-doc-1">200 Employer E-Document</p>
      <p class="card-text sub-acc-1">15 Sub Account User</p>
      <p class="card-text sub-dom-1">1 Sub Domain Website</p>
      <p class="card-text sales-enq-1"></p>
      </div>
    <div class="card-footer-1">
      <button class="btn btn-blue" type="submit">Subscribe</button>
    </div>
  

  
    
    <div class="card-header-2">
      <h5 class="plan-type-2"><strong>PREMIUM</strong></h5>
      <h6 class="plan-name-2"><strong>Biodata &amp; CRM Solution Plan</strong></h6>
      <p class="plan-period-2">3 Months Plan 
      
      <span class="save-percent-2">(Save 23%)</span>
      </p>
      
    </div>
    
    <div class="divider-2">
      <hr class="divide-line">
    </div>

      <div class="price-box-2">
      <h4 class="price-2">S$340/mo</h4>
      </div>
      <div class="package-content-2">
      
      <p class="card-text bio-plan-2">300 Biodata Plan</p>
      <p class="sales-sum-2"></p>
      <p class="status-sum-2"></p>
      <p class="card-text e-doc-2">300 Employer E-Document</p>
      <p class="card-text sub-acc-2">20 Sub Account User</p>
      <p class="card-text sub-dom-2">1 Sub Domain Website</p>
      <p class="card-text sales-enq-2"></p>
      </div>
   
    <div class="card-footer-2">
      <button class="btn btn-green" type="submit">Subscribe</button>
    </div>
  

</div> <!--end card-deck-->

<p> **Your newly purchased plan will only take effect after your current subscription expires. </p>
{%endblock%}


{%block js%}
<script src="{% static '/js/main.js' %}"></script>

<script>
function changePlan() {

    var home_route = '/change-plans';
    var searchPlan=document.getElementById("inputPlan").value;
    var searchPeriod=document.getElementById("inputPeriod").value;
    
    searchPlan = encodeURIComponent(searchPlan);
    var url = home_route+"?query="+searchPlan+"&period="+searchPeriod;

    const myHeaders = new Headers();
    const myRequest = new Request(url, {
    method: 'GET',
    headers: myHeaders,
    mode: 'cors',
    cache: 'default',
    });
    
    //change display
    fetch(myRequest).then(response => response.json()).then(function(json){
        for (let i=0; i<3; i++){
            document.querySelector('.plan-type-'+i).innerText = json.plans[i].plan_type;
            document.querySelector('.plan-name-'+i).innerText = json.plans[i].name;
            if (json.plans[i].savings == null){
                document.querySelector('.plan-period-'+i).innerText = json.plans[i].subscription_period+' Months Plan';
            } 
            else {
                document.querySelector('.plan-period-'+i).innerHTML = json.plans[i].subscription_period+' Months Plan ' + '<span class="save-percent-'+`${i}`+'">(Save '+ json.plans[i].savings+ '%)</span>' ;
            }
            //document.querySelector('.price-'+i).innerHTML = '<h4>S$'+parseFloat(json.plans[i].price).toFixed(0)+'/mo</h4>';
            document.querySelector('.price-'+i).innerText = 'S$'+parseFloat(json.plans[i].price).toFixed(0)+'/mo';
            if (json.plans[i].biodata_no == null){
                document.querySelector('.bio-plan-'+i).style.display = 'none';
                document.querySelector('.sales-sum-'+i).style.display = 'inherit';
                document.querySelector('.status-sum-'+i).style.display = 'inherit';
                document.querySelector('.sales-sum-'+i).innerText = 'Sales Summary';
                document.querySelector('.status-sum-'+i).innerText = 'Status Summary';
            }else {
                document.querySelector('.bio-plan-'+i).style.display = 'inherit';
                document.querySelector('.sales-sum-'+i).style.display = 'none';
                document.querySelector('.status-sum-'+i).style.display = 'none';
                document.querySelector('.bio-plan-'+i).innerText = json.plans[i].biodata_no +' Biodata Plan';
            }
            if (json.plans[i].emp_e_doc == null){
                document.querySelector('.e-doc-'+i).style.display = 'none';
            }else {
                document.querySelector('.e-doc-'+i).style.display = 'inherit';
                document.querySelector('.e-doc-'+i).innerText = json.plans[i].emp_e_doc +' Employer E-Document';
            }
            if (json.plans[i].subdomain == null){
                document.querySelector('.sub-dom-'+i).style.display = 'none';
            }else {
                document.querySelector('.sub-dom-'+i).style.display = 'inherit';
                document.querySelector('.sub-dom-'+i).innerText = json.plans[i].subdomain +' Sub Domain Website';
            }
            if (json.plans[i].enquiries == ''){
                document.querySelector('.sales-enq-'+i).style.display = 'none';
            }else {
                document.querySelector('.sales-enq-'+i).style.display = 'inherit';
                document.querySelector('.sales-enq-'+i).innerText = json.plans[i].enquiries +' Sales Enquiries';
            }
        }
        });
  
}

</script>

{% endblock %}