
.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.alert-primary{
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  height: 3rem;
  display: flex;
  align-items: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-blue{
    background-color: #9bbfe9;
}

.btn-yellow {
    background-color: #ffda5c;
}

.btn-green{
    background-color: #aad08c;
}

.card-custom-yellow{
  display: grid;
  justify-items: center;
  background-color: #fff3cb;
  grid-template-rows: 30% 5% 10% auto 1fr;
  /*grid-auto-rows: minmax(130px, auto);*/
  grid-gap: 2%;
}

.card-custom-blue{
  display: grid;
  justify-items: center;
  background-color: #ddebf7;
  grid-template-rows: 30% 5% 10% auto 1fr;
  grid-gap: 2%;
}

.card-custom-green{
  display: grid;
  justify-items: center;
  background-color: #e3efda;
  grid-template-rows: 30% 5% 10% auto 1fr;
  grid-gap: 2%;
}

.card-deck{
 display: grid;  
 grid-template-columns: 33% 33% 33%;
 grid-gap: 2%;
 justify-content: center;
}

.card-header {
  text-transform: capitalize;
  grid-row: 1/2;
  align-self: center;
  text-align: center;
}

.divider{
  grid-row: 2/3;
}

.popular-box{
  grid-row: 2/3;
  background-color: #579ad5;
  color: white;
  width: 100%;
  text-align: center;
  align-self: center;
}

.price {
  grid-row: 3/4;
  align-self: center;
}

.package-content{
  grid-row: 4/5;
}

.card-footer{
  grid-row: 5/6;
  align-self:center;
}

form{
  display: grid;
  grid-template-columns: 25% 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

hr {
    border-top: 2px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 50%;
}

.plan-type{
  margin-bottom:1.25rem;  
}

.plan-name{
  margin-top:1.25rem;
  margin-bottom:1.25rem;
}

.plan-period{
  margin-top:1.25rem;
}

@media screen and (max-width: 36em) {
  .card-deck{
    display: block;
  }
}



