h6{
    color: black
}

.page-header{
    height: 3rem;
    display: flex;
    align-items: center;
}

.popular-box{
    display: flex;
    background-color: #579ad5;
    color: white;
    justify-content: center;
}